{% extends "layouts/base.html" %}
{% block title %}Quex{% endblock %}
{% block content %}

<form action="/q/{{ id }}" method="post" class="max-w-3xl px-4 py-4 mx-auto sm:px-6 lg:px-8">
    {% for question in crate::routes::survey::system_usability_score::QUESTIONS %}
    <fieldset class="mb-6">
        <legend class="mb-3 font-medium text-gray-900 text-sm/6">
            {{ question }}
        </legend>
        {% let question_index = loop.index %}
        <div class="grid grid-cols-5 grid-rows-1">
            {% for index in 1..=5 %}
            <label class="block">
                <input type="radio" id="Q{{ loop.index }}A{{ index }}" name="Q{{ question_index }}" value="{{ index }}"
                    required class="block w-4 h-4 p-2 mx-auto text-blue-600 border-gray-300 focus:ring-blue-600">
                <span class="block text-sm font-medium leading-6 text-center text-gray-900">
                    {{ index }}
                </span>
            </label>
            {% endfor %}
        </div>

    </fieldset>
    {% endfor %}

    <div class="flex items-center justify-end mt-6 gap-x-6">
        <button type="submit"
            class="px-3 py-2 text-sm font-semibold text-white bg-blue-600 rounded-md shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Submit</button>
    </div>
</form>

{% call super() %}
{% endblock %}