{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<form action="/q/{{ id }}" method="post">

    <div class="grid grid-cols-[repeat(9,auto)] gap-y-3 gap-x-7 pb-12 border-b border-gray-900/10">

        {% for question in questions %}
        <!-- <fieldset class="grid col-span-9 mt-6 space-y-6 grid-cols-subgrid sm:space-y-0"> -->
        <span class="">{{ question.0 }}</span>
        {% let question_index = loop.index %}
        {% for answer_index in 1..8 %}
        <label for="{{ id }}" class="block">
            {% let id = format!("Q{}{}", question_index, answer_index) %}
            <input id="{{ id }}" name="Q{{ question_index }}" type="radio" value="{{ answer_index }}" required
                class="w-4 h-4 text-indigo-600 border-gray-300 focus:ring-indigo-600">
            <span class="ml-2 text-sm font-medium leading-6 text-gray-900">{{ answer_index }}</span>
        </label>
        {% endfor %}
        <span>{{ question.1 }}</span>
        <!-- </fieldset> -->
        {% endfor %}
    </div>
    <div class="flex items-center justify-end mt-6 gap-x-6">
        <button type="submit"
            class="px-3 py-2 text-sm font-semibold text-white bg-indigo-600 rounded-md shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Submit</button>
    </div>
</form>

{% call super() %}
{% endblock %}