<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <link rel="stylesheet" href="/styles.css">
  {% block head %}{% endblock %}
</head>

<body class="bg-gray-100">
    <header class="grid grid-cols-[1fr_auto_auto] gap-x-4 items-center h-16 bg-white shadow py-2 px-4 sm:px-6 lg:px-8">
        <h1 class="inline-block text-3xl font-bold leading-9 tracking-tight text-blue-900">Quex</h1>
        <a href="/surveys/new"
           class="inline-flex items-center px-3 py-2 text-sm font-semibold text-white bg-indigo-600 rounded-md shadow-sm hover:bg-indigo-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Create survey</a>

        <a href="/signout" class="rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Sign out</a>
    </header>
    <main class="mx-auto max-w-3xl px-4 sm:px-6 lg:px-8 py-4">
        {% block content %}{% endblock %}
    </main>
  {% block scripts %}{% endblock %}
</body>

</html
