{% extends "layout.html" %} {% block title %}Sign in{% endblock %} {% block
content %}

<a href="/">Home</a>
<fieldset>
    <legend>Sign In</legend>
    <form action="/signin" method="post">
        <label for="username">Username</label>
        <input
            type="text"
            name="username"
            id="username"
            autocomplete="username webauthn"
            required
        /><br />
        <button type="submit">Next</button>
    </form>
</fieldset>
{% call super() %} {% endblock %} {% block scripts %}

<script type="module" src="/passkey.js"></script>
{% call super() %} {% endblock %}
