{% extends "layout.html" %} {% block title %}My Surveys{% endblock %} {% block
content %}

<a href="/">Home</a>
<h1>My Surveys</h1>

<h2>AttrakDiff</h2>
<ul>
    {% for survey in surveys.attrakdiff %}
    <li>
        <a href="/surveys/ad/{{ survey.id }}">AD Survey {{ survey.name }}</a>
    </li>
    {% endfor %}
</ul>

<h2>Net Promoter Score</h2>
<ul>
    {% for survey in surveys.net_promoter_score %}
    <li>
        <a href="/surveys/nps/{{ survey.id }}">{{ survey.name }}</a>
    </li>
    {% endfor %}
</ul>

<h2>System Usability Score</h2>
<ul>
    {% for survey in surveys.system_usability_score %}
    <li>
        <a href="/surveys/sus/{{ survey.id }}">{{ survey.name }}</a>
    </li>
    {% endfor %}
</ul>

<h2>Create New Survey</h2>
<form method="post" action="/surveys">
    <label for="name">Name</label>
    {# Not required #}
    <input id="name" name="name" type="text">
    {# Not using separate submit buttons with different "formactions" for each survey type because using the enter key
    will always submit to the first submit button #}
    <fieldset>
        <legend>Survey Type</legend>
        <input id="attrakdiff" name="type" type="radio" value="ad" required>
        <label for="attrakdiff">AttrakDiff</label>
        <input id="nps" name="type" type="radio" value="nps" required>
        <label for="nps">Net Promoter Score</label>
        <input id="sus" name="type" type="radio" value="sus" required>
        <label for="sus">System Usability Score</label>
    </fieldset>
    <button type="submit" class="block">Submit</button>
</form>

{% call super() %} {% endblock %}