{% extends "layouts/base.html" %}
{% block title %}
Complete Sign up
{% endblock %}
{% block content %}
<hgroup>
    <h1>Complete Sign up</h1>
    <p>Hi, this seems to be the first time you are using Quex. Please complete the following information.</p>
</hgroup>
<form action="/signup/complete" method="post">

    <label for="name">Name</label>
    <input
        type="text"
        name="name"
        id="name"
        autocomplete="name"
        required
        autocorrect="off"
        autocapitalize="off"
        {% if let Some(name) = name %}
        value="{{ name }}"
        {% endif %}
    >
    <p>You can choose whatever name you like. This will show up when you share and collaborate with others. So choose wisely.</p>
    <input
        type="hidden"
        name="token"
        value="{{ token }}"
    >
    {% if let Some(url) = request_data_url %}
    <a href="{{ url }}" rel="noreferrer">Load data from Google</a>
    {% endif %}
    <button type="submit">Sign up</button>
{% call super() %}
{% endblock %}
